<!DOCTYPE html>
<html ng-app="myApp" lang="en">

  <head>
    <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.5/angular-messages.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WaitStaff Calculator</title>
  </head>

  <body>
    <div class="container" ng-controller="waitstaffController" ng-init="numMeals=0">
        <h1 class="title">Waitstaff Calculator</h1>
        <section class="meal-details">
            <h2>Enter The Meal Details</h2>
            <form class="form" name="mealDetails" novalidate ng-submit="submit()">
                <div class="form-component">
                    <label>Base meal price $</label>
                    <input type="number" step="any" placeholder="0.00" ng-model="baseMealPrice"/>
                </div>
                <div class="form-component">
                    <label>Tax %</label>
                    <input type="number" step="any" placeholder="0" ng-model="tax"/>
                </div>
                <div class="form-component">
                    <label>Tip %</label>
                    <input type="number" step="any" placeholder="0" ng-model="tip"/>
                </div>
                <div class="form-buttons">
                    <button class="submit" type="submit" ng-click="submit()">Submit</button>
                    <button class="cancel" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </section>
        <section class="customer-charges">
            <h2>Customer Charges</h2>
        </section>
        <section class="total-earnings">
            <h2>Total Earnings</h2>
        </section>

    </div>
  </body>

</html>
