/* Variables */
/* Standard declarations */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  width: 85%;
  margin: auto; }

/* Main declarations */
h1, h2 {
  text-align: center; }

.meal-details, .customer-charges, .total-earnings {
  border: 1px solid #9E9E9E;
  margin-bottom: 20px; }

.title {
  margin: 20px 0 10px 0; }

.form {
  border-top: 1px solid #9E9E9E; }
  .form .form-component:first-child {
    margin-top: 5px; }
  .form .form-component {
    margin-bottom: 10px; }
  .form .form-buttons {
    padding-right: 20px;
    margin: auto;
    text-align: right; }

button {
  color: white;
  border: 1px solid #DCDCDC;
  border-radius: 2px; }
  button:focus {
    outline: none; }

.submit {
  background-color: #2196F3; }
  .submit:hover {
    background-color: #0c7cd5; }
  .submit:active {
    background-color: #0960a5; }

.cancel {
  background-color: #F44336; }
  .cancel:hover {
    background-color: #ea1c0d; }
  .cancel:active {
    background-color: #ba160a; }

.reset {
  background-color: #FFC107; }
  .reset:hover {
    background-color: #d39e00; }
  .reset:active {
    background-color: #a07800; }

label {
  text-align: right;
  width: 30%;
  display: inline-block; }

input {
  margin-left: 30px; }

/* Media queries */
