/* Variables */
/* Standard declarations */
html {
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  width: 95%;
  margin: auto; }

/* Setting up a grid */
.col-12 {
  width: 100%;
  float: left;
  padding: 15px; }

/* Main declarations */
h1, h2 {
  text-align: center; }

.meal-details, .customer-charges, .total-earnings {
  border: 1px solid #9E9E9E;
  margin-bottom: 20px; }

.title {
  margin: 20px 0 10px 0; }

.form {
  border-top: 1px solid #9E9E9E; }
  .form .form-component:first-child {
    margin-top: 5px; }
  .form .form-component {
    margin-bottom: 10px; }

.form-buttons {
  padding-right: 20px;
  margin: auto;
  text-align: right; }

button {
  color: white;
  border: 1px solid #DCDCDC;
  border-radius: 2px; }
  button:focus {
    outline: none; }

.submit {
  background-color: #2196F3; }
  .submit:hover {
    background-color: #0c7cd5; }
  .submit:active {
    background-color: #0960a5; }

.clear {
  background-color: #F44336; }
  .clear:hover {
    background-color: #ea1c0d; }
  .clear:active {
    background-color: #ba160a; }

.reset {
  background-color: #FFC107; }
  .reset:hover {
    background-color: #d39e00; }
  .reset:active {
    background-color: #a07800; }

label {
  text-align: right;
  width: 30%;
  display: inline-block; }

input {
  margin-left: 30px; }

span {
  display: inline-block; }

.error-msg {
  color: #F44336; }

table {
  table-layout: fixed; }
  table tr, table th, table td {
    text-align: right; }
  table td {
    width: 200px;
    margin: auto; }

/* Media queries */
@media screen and (min-width: 768px) {
  body {
    background-color: #FFFFF4; }
  .col-12 {
    width: 50%; } }
